h1 {
	color: red;
	text-align: center;
}
p {
	color: #800080;
	font-size: 25px;
	font-family: verdana;
	text-align: center
}
ul{
	font-family: calibri;
	color: #00FF00;
}
img {
	width: 300px;
	height: 200px;
}