

h1 {font-family:Arial;
font-size:24pt;
color:white}

h2 {font-family:Helvetica;
font-size:16pt;
color:black}

div {background-color:palegreen}

p {font-family:Helvetica;
font-size:12px;
color:black}

ul {font-family:Helvetica;
font-size:12px;
color:lightBlue}

ol {font-family:Helvetica;
font-size:12px;
color:black}

.soundtext {font-family:Helvetica;
font-size:12px;
color:lightBlue}



